.message-list {
    display: flex;
    width: 95%;
    height: 95%;
    flex-direction: column;
    gap: 2%;
    font-size: 110%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    user-select: none;
}